@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="UTF-8">
        <title>صفحه‌ی اصلی</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/aboutus/style.css">
    </head>
    
            <header>
                <h1>درباره ما</h1>
            </header>
            <body>
            <section>
                <p>
                    "ما در شبکه مهربانی باور داریم که هر فردی توانایی کمک به دیگران را دارد و این امر می‌تواند زندگی مردم را بسیار بهتر کند. برای همین، یک سامانه آنلاین را ایجاد کرده‌ایم که افراد داوطلب می‌توانند کمک خود را معرفی کنند و افراد نیازمند می‌توانند درخواست کمک را ثبت نمایند. تلاش ما برای ارائه‌ی یک راه حل ساده و موثر برای کمک به جامعه محلی نشان دهنده‌ی تعهد ما به افراد نیازمند و داوطلبان است
                </p>
            </section>

             
    </body>
</html>

