@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/howtouse/style.css">
</head>

<body>
    <div class="body">
        
    <header class="header2">نحوه کار با سایت </header>
    <div class="main">
	<main>
		<h2 class="h2-1">چگونه داوطلب شوید؟</h2>
		<p>اگر می‌خواهید به عنوان داوطلب در سایت خیریه ثبت نام کنید، مراحل زیر را دنبال کنید:</p>
		<ol>
			<li>صفحه "ثبت نام داوطلب" را باز کنید.</li>
			<li>فرم ثبت نام را پر کنید و اطلاعات خود را وارد کنید.</li>
			<li>پس از ارسال فرم، منتظر تایید حساب کاربری خود باشید.</li>
			<li>پس از تایید حساب کاربری، شما به عنوان داوطلب در سایت خیریه فعال خواهید شد.</li>
		</ol>
		<h2 class="h2-1">چگونه درخواست کمک بدهید؟</h2>
		<p>اگر به کمک نیاز دارید، مراحل زیر را دنبال کنید:</p>
		<ol>
			<li>صفحه "درخواست کمک" را باز کنید.</li>
			<li>فرم درخواست کمک را پر کنید و جزئیات درخواست خود را وارد کنید.</li>
			<li>پس از ارسال فرم، منتظر تماس یا پیامک از داوطلبان خیریه بمانید.</li>
		</ol>
		
	</main>
</div>
</div>
</body>
</html>