@{
    ViewData["Title"] = "Home Page";
  
}
@model List<BE.Product>

<main class="main">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="image/help2.jpg" alt="First slide">
                    <div class="banner-detail text-center">
                        <h3 class="banner-title">دست یکدیگر را بگیریم</h3>
                        <span class="heading-span inline">با کمک شما، می‌توانیم به هدف های خود از جمله ایجاد جامعه ای مهربان تر و پشتیبانی از نیازهای آسیب پذیران دست پیدا کنیم</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="image/help.jpg" alt="Second slide">
                    <div class="banner-detail text-center">
                        <h3 class="banner-title">دست یکدیگر را بگیریم</h3>
                        <span class="heading-span inline">با کمک شما، می‌توانیم به هدف های خود از جمله ایجاد جامعه ای مهربان تر و پشتیبانی از نیازهای آسیب پذیران دست پیدا کنیم</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="image/help3.jpg" alt="Third slide">
                    <div class="banner-detail text-center">
                        <h3 class="banner-title">دست یکدیگر را بگیریم</h3>
                        <span class="heading-span inline">با کمک شما، می‌توانیم به هدف های خود از جمله ایجاد جامعه ای مهربان تر و پشتیبانی از نیازهای آسیب پذیران دست پیدا کنیم</span>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">قبلی</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">بعدی</span>
            </a>
        </div>
        <div class="intro text-center">
            <div class="container">
                <div class="row">
                    <h1 class="head-one inline">به شبکه مهربانی خوش امدین</h1>
                    <span class="intro-span inline">شبکه مهربانی یک بنیاد خیریه است که با هدف کمک به افراد نیازمند و تضعیف‌ پذیر در جامعه تشکیل شده است  . این بنیاد با دارا بودن تیمی از افراد با اخلاق ، اهداف خود را با پشتوانه اخلاقیاتی ، آرمانی و اجتماعی ارائه می دهد</span>
                    <p class="detail-p">این بنیاد ، کمک به افراد و خانواده‌هایی است که در شرایط نامساعد زندگی می‌کنند و به هر نوع کمکی نیاز دارند
 
  با تلاش برای ایجاد عدالت اجتماعی، شبکه مهربانی در تلاش است تا کمک به توسعه جوامع قوی و پایدار باشد و تمامی افراد مستضعف را در برابر مشکلاتی که با آنها روبرو می‌شوند، حمایت کند.

اعتقاد شبکه مهربانی بر این است که با تلاش و همکاری افراد ، می‌توان بهبود شرایط زندگی بیشتری را به همه دسته‌های جامعه بخصوص کودکان ، زنان و سالمندان ، ارائه داد.

بنیاد شبکه مهربانی از حمایت شما عزیزان برای رسیدن به اهداف خود استقبال می‌کند . با همکاری در این بنیاد ، شما نیز می‌توانید برای بهبود شرایط زندگی افراد نیازمند و تضعیف‌پذیر در جامعه برایمان مفید باشید</p>
                </div>
                <div class="intro-group">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 intro-grp-detail">
                                <img src="image/help-icon.png" class="mb-2 mb-lg-4" alt="help-icon">
                                <h2 class="sub-head-two inline">کمک به بچه ها</h2>
                                <p class="intro-detail-p mb-0">به بچه های بی سرپرست هر کمکی ک خواستید بکنید ما میتوانیم به شما کمک کنیم</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 intro-grp-detail">
                                <img src="image/volunteer-icon.png" class="mb-2 mb-lg-4" alt="volunteer-icon">
                                <h2 class="sub-head-two inline">داوطلب شدن</h2>
                                <p class="intro-detail-p mb-0">شما میتوانید به عنوان خیر داوطلب شوید و زمانی ک به شما نیاز داشتیم بهتون اطلاع بدهیم</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 intro-grp-detail">
                                <img src="image/education-icon.png" class="mb-2 mb-lg-4" alt="education-icon">
                                <h2 class="sub-head-two inline">کمک گرفتن</h2>
                                <p class="intro-detail-p mb-0">شما میتوانید نیاز خودرادرخواست کنید و ما به شما کمک خواهیم کرد</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 intro-grp-detail">
                                <img src="image/donation-icon.png" class="mb-2 mb-lg-4" alt="donation-icon">
                                <h2 class="sub-head-two inline">کمک کردن</h2>
                                <p class="intro-detail-p mb-0">شما میتوانید لوازم غیر ضروری خودرا به اشتراک بگذارید</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="shoppage-banner text-left">
            <div class="banner-content">
            </div>
        </div>

 @if (User.Identity.IsAuthenticated)
   {
         <div class="blog-part paddingub">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xl-3 col-xs-12 px-0 order-2 order-md-2 order-lg-1 wid pl-lg-3 pl-xl-0">
                        <div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
                            <div class="sidebar-content">
                                <div class="sidebar-category sidebar-default">
                                    <div>
                                        <a asp-area="" asp-controller="Product" asp-action="Create" class="create-product-button">ایجاد محصول</a>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-xl-9 col-lg-8 pad order-1 order-md-1 order-lg-2 p-0 pr-lg-3 pr-xl-0">
                        <div class="container" >

                         @Html.Partial("Show") 

                        </div>
                    </div>
                </div>
            </div>
        </div>
   }
 else
  {
                           
  }

        
      



    </main>

